main .s1{
    background: #0f1129;
    color: black;
    height: 100vh;
    width: 100%;
}

.card-deck{
    height: 600px;
    width: 400px;
}

.btn-circle.btn-xl {
    width: 90px;
    height: 90px;
    /* padding: 10px 16px; */
    font-size: 18px;
    /* line-height: 1.33; */
    border-radius: 45px;
}

{
    /* background: #D24D57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg); */
}