main .s1{
    background-image: url("../img/home-bg.png");
    background-attachment: fixed;
    background-size: cover;
    /* background: #0f1129; */
    color: black;
    height: 100vh;
    width: 100%;
}

.card-home{
    height: 525px;
    width: 400px;
    overflow: hidden;
    border: none;
    color: white;
    background: rgba(0,0,0,.5);
}

.btn-home {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto; /* ça va à droite en fait ça */
    margin-right: -30px;
    margin-bottom: -30px;
    /* -moz-transition: .8s;
    -webkit-transition: .8s; */
    position: relative;
}

.btn-home i {
    position: absolute;
    font-size: 30px;
    top: 20px;
    left: 24px;
}

/* enlever le contour qd on clique bouton */

/* .btn-home:hover {
    width: 125px;
    height: 125px;
} */

