main .s1{
    background-image: url("../img/home-bg.png");
    background-attachment: fixed;
    background-size: cover;
    /* background: #0f1129; */
    color: black;
    height: 100vh;
    width: 100%;
}

.card-home{
    height: 525px;
    width: 400px;
    overflow: hidden;
    border: none;
    color: white;
    background: rgba(0,0,0,.5);
}

.btn-home {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto; /* ça va à droite en fait ça */
    margin-right: -30px;
    margin-bottom: -30px;
    position: relative;
    -moz-transition: .8s;
    -webkit-transition: .8s;
}

#momo {
    position: absolute;
    font-size: 30px;
    top: 20px;
    left: 24px;
    -moz-transition: .8s;
    -webkit-transition: .8s;
}

/* enlever le contour qd on clique bouton */

.btn-home:hover {
    width: 125px;
    height: 125px;
}

.btn-home:hover #momo {
    top: 30px;
    left: 38px;
    -webkit-animation:spin .8s;
    -moz-animation:spin .8s;
    animation:spin .8s;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fa-chevron-circle-down {
    font-size: 30px;
    color: white;
    -webkit-animation:arrowhome 2s infinite;
    -moz-animation:arrowhome 2s infinite;
    animation:arrowhome 2s infinite;
}
@-moz-keyframes arrowhome { 0% { transform: translateY(0px); } 50% { transform: translateY(20px); } 100% { transform: translateY(0px); } }
@-webkit-keyframes arrowhome { 0% { transform: translateY(0px); } 50% { transform: translateY(20px); } 100% { transform: translateY(0px); } }
@keyframes arrowhome { 0% { transform: translateY(0px); } 50% { transform: translateY(15px); } 100% { transform: translateY(0px); } }