@font-face{
    font-family: "Ageo";
    src: url("ageo.otf");
}

@font-face{
    font-family: "AgeoB";
    src: url("ageoB.otf");
}

body{
    margin: 0;
    padding: 0;
    font-family: "Ageo";
    font-weight: 900;
}

h1{
    font-family: "AgeoB";
}

a{
    color: #000;
}

a:hover{
    text-decoration: none !important;
}

b{
    font-family: "AgeoB";
}

.number{
    font-family: Roboto;
    font-weight: 500;
}

main{
    margin-left: 300px;
    width: calc(100% - 300px);
    transition: all .8s linear;
    /* background: yellow; */
}

.blue, strong{
    color: #224aa8;
}
.blue-dark{
    color: #16223f;
}

.card{
    position: initial;
}

/*
    --------------- NAV LEFT ----------------
*/
.main-nav{
    position: fixed;
    width: 300px;
    height: 100%;
    background: white;
    padding: 2.75rem;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.1);
       -moz-box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.1);
            box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.1);
    transition: all .8s linear;
    opacity: 1;
}

.main-nav .nav-list .list-group-item{
    padding: 1rem 0;
    border-bottom: 2px solid rgba(0,0,0,.1) !important;
}
.main-nav .nav-list a:last-child .list-group-item{
    border-bottom: none !important;
}

.main-nav .nav-list a .list-group-item:hover{
    color: #224aa8;
    border-color: rgba(0,0,0,.2) !important;
}

.main-nav .nav-btn{
    border-radius: 50%;
    background: #16223f;
    color: white;
    transition: all .8s linear;
    z-index: 999999;
}
.main-nav .nav-btn i{
    margin-top: .3rem;
}