@media screen and (max-width: 1141px) {
    .main-nav{
        display: none !important;
    }
    main{
        margin-left: 0;
        width: 100%;
    }
    .mq-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 961px) {
    .about{
        flex-direction: column !important;
        align-items: center !important;
    }
    .about > * {  /* la fléche c que les enfants de about */
        width: 75% !important;
    }
    .contact{
        flex-wrap: wrap;
    }
    .contact form, .contact-other{
        width: 100%;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 721px) {
    .about{
        padding: 4rem 3rem;
    }   
}

@media screen and (max-width: 541px) {
    .about > * {
        width: 100% !important;
    }
    .contact{
        padding: .25rem !important;
    }
    .contact form{
        /* padding: 2.5rem !important; */
    }
}

