.services {
    /* background: #c6dae3; */
    /* height: 1000px; */
}

.card-services{
    height: 380px;
    width: 300px;
    border: none;
    color: #000;
}

.circle-services {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #0f1129;
    margin: auto;
}

#icons-services {
    font-size: 50px;
    color: #fff;
}

.services-contact {
    padding: 3rem;
    background: #16223f;
    color: #ffffff;
}