.services {
    background: #c6dae3;
    height: 1000px;
}

.card-services{
    height: 380px;
    width: 300px;
    border: none;
    color: black;
}

.circle-services {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #0f1129;
    margin: auto;
    position: relative;
}

#icons-services {
    position: absolute;
    font-size: 50px;
    top: 34px;
    right: 34px;
    color: white;
}

.services-contact {
    padding: 3rem;
    background: #16223f;
    color: #ffffff;
}