.hrlol {
    background-color: black!important;
}

/* .carousel-control-prev {
    color: black!important;
} */

/* pour fixer le footer en bas 

#main {
    min-height: calc(100vh - 96px - 224px);
} */